<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="RUNTIME" class="ch.qos.logback.core.FileAppender">
		<file>synthea-bulk-loader.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SEARCH" class="ch.qos.logback.core.FileAppender">
		<file>search.csv.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="search" additivity="false" level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="SEARCH"/>
	</logger>

	<appender name="CREATE" class="ch.qos.logback.core.FileAppender">
		<file>create.csv.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="create" additivity="false" level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="CREATE"/>
	</logger>

	<appender name="READ" class="ch.qos.logback.core.FileAppender">
		<file>read.csv.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="read" additivity="false" level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="READ"/>
	</logger>

	<appender name="UPDATE" class="ch.qos.logback.core.FileAppender">
		<file>update.csv.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="update" additivity="false" level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="UPDATE"/>
	</logger>

	<logger name="bulkload" additivity="false" level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="RUNTIME"/>
	</logger>

	<root level="ERROR">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="RUNTIME"/>
	</root>

</configuration>
